@font-face {
    font-family: "integral";
    src: url("../fonts/integral-bold.woff2");
}

@font-face {
    font-family: "Manifold";
    src: url("../fonts/manifold-regular.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Manifold";
    src: url("../fonts/manifold-demibold.woff2");
    font-weight: 600;
}
@font-face {
    font-family: "Manifold";
    src: url("../fonts/manifold-bold.woff2");
    font-weight: 700;
}

/* BASIS */
*, *::after, *::before {
    box-sizing: border-box;
}

/* VARIABELEN */
:root {
	color-scheme: light dark;

    --color-text: light-dark(#ffffff,#ffffff);
    --color-text2: light-dark(#000000, #000000);
    --color-bg: light-dark(#000000, #000000);
    --color-button: light-dark(#ffffff,#ffffff);

    --color-footer-bg: light-dark(#ffffff,#ffffff);
    --color-footer-text: light-dark(#000000, #000000);
    --color-background-grey:light-dark(#161616, #161616);

    --color-accent: light-dark(#ff0140,#ff0140);
    --color-muted: light-dark(#c6c5c5, #c6c5c5);
    --color-border: light-dark(#ffffff,#ffffff);

}

/* BODY */
body {
    font-family: "Manifold";
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--color-bg);
    padding: 1.8em;
    z-index: 10;
    gap: 1em;
}

header img {
    width: 8em;
}

header > a:first-of-type {
    margin-right: auto;
}

header > a:nth-of-type(2) {
    background: var(--color-accent);
    color: var(--color-text);
    text-decoration: none;
    padding: 1em 1.4em;
    font-size: .7em;
    letter-spacing: .05em;
}
header > a:nth-of-type(2):hover {
    background: transparent;
    color: var(--color-accent);
    border: 0.1em solid var(--color-accent);
}

header > button {
    background: none;
    border: none;
}

header button img {
    width: 3em;
}

header button img:hover{
	cursor: pointer;
}
header button img :active{
	transform: scale(0.9);
}

/* NAV MOBIEL */
header nav {
    display: flex;
    flex-direction: column;
    padding: 0.17em;
    gap: 0.5em;

    position: fixed;
    inset: 0;
    translate: 100% 0;
    transition: .4s ease;
    background: var(--color-bg);
}

header nav > img {
    width: 10em;
    padding: 1em 1em 0;
}

header nav.is-open {
    translate: 0 0;
}

header nav > button {
    position: absolute;
    top: 1.7em;
    right: 1.6em;
    background: none;
    border: none;
}

header nav > button img {
    width: 2em;
}

header nav > select {
    width: 5em;
    background: transparent;
    color: var(--color-text);
    border: none;
    padding: .6em;
    font-family: "Manifold";
    font-size: .9em;
}

header nav ul {
    display: grid;
    gap: 1em;
    list-style: none;
    font-family: "Manifold";
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
    padding: 0.8em;
}

header nav a {
    text-decoration: none;
    color: var(--color-text);
}

/* nav CTA-knoppen */
header nav > ul:last-of-type > li:first-of-type > a {
    display:flex;
    align-items: center;
    justify-content: center;
    border: 0.1em solid var(--color-border);
    height: 3em;
    color: var(--color-text);
    text-decoration: none;
    font-family: "Manifold";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

header nav > ul:last-of-type > li:nth-of-type(2) > a {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background: var(--color-accent);
    color: var(--color-text);
    text-decoration: none;
    font-family: "Manifold";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

main > section:first-of-type {
    position: relative;
    padding: 4em 1em 6em 1em;

    background-image:
        linear-gradient(to bottom, rgba(30, 30, 30, 0.479), rgba(0, 0, 0, 0.937)),
        url("/images/student-membership-trainmore-secondary-hero-mobile.webp"); /* gebruik jouw hero-afbeelding */
    background-size: cover;
    background-position: center;
    color: var(--color-text);
}

/* h1 op de foto */
main > section:first-of-type h1 {
	color: var(--color-text);
	font-family: "integral";
    font-size: 2em;
}

/* CTA-knoppen op de memberships */
main > section:first-of-type ul {
    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 1em 1.5em 1em 1em; 
}

/* algemene stijl van de knoppen */
main > section:first-of-type ul li a {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    color: var(--color-text);
    text-decoration: none;
    font-family: "Manifold";
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

/* JOIN NOW */
main > section:first-of-type ul li:first-of-type a {
    background: var(--color-accent);
    color: var(--color-text);
}

/* FREE TRIAL */
main > section:first-of-type ul li:nth-of-type(2) a {
    border: 0.1em solid var(--color-border);
    color: var(--color-button);
    border-color: var(--color-border);
}

@media (min-width: 100em) {
    header > button {
        display: none;
    }

    header nav button {
        display: none;
    }
}

/* Titel */
main > section:nth-of-type(2) > h2 {
    font-family: "integral";
    text-transform: uppercase;
    letter-spacing: .06em;
    padding:2em 1em 0em 0.5em;
}

/* Paragraaf */
main > section:nth-of-type(2) > p {
    font-family: "Manifold";
    font-size: 0.9em;
    line-height: 1.6em;
    padding: 0em 0em 0em 1em;
}


/* MEMBERSHIP KAARTEN DERDE SECTION IN MAIN */
main > section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 2em 1em 2em;
}

/* algemene kaart-styling */
main > section:nth-of-type(3) article {
    background:var( --color-background-grey);
    color: #ffffff;
    padding: 2em;
}

/* titel in de kaart (h3) */
main > section:nth-of-type(3) article h3 {
    font-family: "integral";
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.06em;
}
main section:nth-of-type(3) article p{
    font-size: 0.7em;
}
main > section:nth-of-type(3) > a {
    display: flex;
    justify-content: center;
    text-align: center;
    background: var(--color-accent);
    color: var(--color-text);
    padding:1.2em;
    text-decoration: none;
    font-size: 0.8em;

}
/* GRID LAYOUT VOOR MEMBERSHIP KAARTEN OP BREEDERE SCHERMEN */
@media (min-width: 34em) { 
    main > section:nth-of-type(3) {
        grid-template-columns: repeat(2, minmax(0, 1fr)); 
    }
}

/* 4 KAARTEN NAAST ELKAAR */
@media (min-width: 60em) {  
    main > section:nth-of-type(3) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

/* HELE SECTION "Bereken je korting"  */
main > section:last-of-type {  
    padding: 1em 1.5em;
    background:var( --color-background-grey);

}
main > section:nth-of-type(4) > h2 {
    font-family: "integral";
    text-transform: uppercase;
    letter-spacing: .06em;
}

main > section:nth-of-type(4) > p {
    font-size: 0.9em;
    line-height: 1.6;
}

/* Pijlen + nummer */
main > section:last-of-type > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
main > section:last-of-type > div > button {
    background: none;
    border: none;
    font-size: 1.6em;
    color: var(--color-button);
    cursor: pointer;
}

/* het getal "1" tussen de pijlen */
main > section:last-of-type > div > p {
    font-family: "integral";
    font-size: 2.5em;
    margin:0;
    padding:0.5em 0em 0.5em 0em;
}

/* "Workouts per week" */
main > section:last-of-type > h3 {
    text-align: center;
    font-family: "Manifold";
    font-weight: 200;
    text-transform: uppercase;
    font-size: 2em;
    padding:1em 1em 1em 1em;
    margin:0;
    
}

/* grote roze prijs: €4,-*/
main > section:last-of-type > p:nth-of-type(2) {
    font-family: "integral";
    font-size: 4em;
    color: var(--color-accent);
    text-align: center;
    margin:0;
}

/* "Korting per 4 weken."*/
main > section:last-of-type > p:nth-of-type(3) {
    text-align: center;
    font-family: "Manifold";
    text-transform: uppercase;
    font-size: 0.9em;
}

/* CTA "Ontdek meer" */
main > section:last-of-type > a {
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    text-align: center;

    border: 0.1em solid var(--color-text);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Manifold";
    font-size: 0.85em;
    color: var(--color-text);
}

main > section:last-of-type > a:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
}

/* FOOTER */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
}

footer > img {
    display: flex;
    max-width: 100%;
    padding: 7em 0em 4em 1em;
}

footer ul {
    display: grid;
    list-style: none;
    padding: 0em 0em 1em 1em;
    gap: 1.5em;
}

footer section:first-of-type ul a {
    display: grid;
    text-decoration: none;
    font-family: "integral";
    color: var(--color-footer-text);
    font-size: 1em;
}

footer > a:first-of-type {
    display: flex;
    gap: 0.2em;
    padding: 0 0 1em 1em;  
    align-items: center;
}

footer section:nth-of-type(2) ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 2.5em);
    gap: 1em;
    align-items: center;
}


footer h4 {
    font-family: "Manifold";
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0; 
}

footer section ul a {
    text-decoration: none;
    color: var(--color-footer-text);
    font-family: "Manifold";
}

footer section:last-of-type ul {
    font-family: "Manifold";
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 0 0 0 1em;
    gap: 0.9em;
	
}

footer section:last-of-type ul a {
    color: var(--color-muted);
}

footer p {
    color: var(--color-muted);
    font-size: 0.75em;
    padding: 1em 0em 4em 1em;
}
